*{ padding: 0; margin: 0; }
*{ box-sizing: border-box }
*::before{ box-sizing: border-box }
*::after{ box-sizing: border-box }
ul,ol{ list-style:none }
a{ color: inherit; text-decoration: none }
input{outline:none; font: inherit }
body{
    font-size: 12px;
    line-height: 1.5;
}

.page{
    display: flex;
    height: 100vh;
    padding: 20px;
}
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('http://pegr14rv7.bkt.clouddn.com/wallhaven-684378-3-min.png') no-repeat;
    background-size: cover;
    filter: blur(1px);
    opacity: .7;
    z-index: -1;
}
.page > aside{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.page > aside > .newSong{
    padding: 10px;
    text-align: center;
}
.page > aside > .newSong.active{
    background-color: #d4d4d4;
}
.page > aside > #songListContainer {
    flex-grow: 1;
    text-align: left;
    border-top: 1px solid #999;
}
.page > aside > .uploadArea > .draggable > .clickable{
    text-align: center;
    padding: 10px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-direction: column;
    cursor: pointer;
}
.page > aside > #songListContainer > .songList > li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.page > aside > #songListContainer > .songList > li.active {
    background-color: #d4d4d4;
}
.page > main{
    padding: 50px;
    flex-grow: 1;
    border: 1px solid #999;
}
.page > main > .editArea{
    padding: 20px;
}
.page > main > .editArea > form{
    font-size: 16px;
}
.page > main > .editArea > form > .row{
    margin-bottom: 15px;
}
.page > main > .editArea > form > .row > button{
    margin-left: 28px;
    padding: 5px 7px;
    border-radius: 6px;
}
.page > main > .editArea > form > .row > label{
    font-weight: 700;

}
.page > main > .editArea > form > .row > label > input{
    padding: 3px 8px;
    margin-left: 3px;
    width: 180px;
    border-radius: 4px;
    border: 1px solid #ddd;
}